<footer class="footer">
  <a href="#start">
    <div class="borderBracket" title="Sus!">
      <div class="triangleUp"></div>
    </div>
  </a>

  <address id="infoContact">
    Informatii de contact<br />
    Telefon : <a href="tel:+40712312312">+40712312312</a><br />
    E-mail : <a href="mailto:test@mail.com">test@mail.com</a><br />
    Adresa : Ilfov Bucuresti Strada 1 Nr 2<br />
  </address>
  <small class="smallFooter"
    >&copy; Cupacars <time datetime="2021-10-04">4 Octombrie 2021</time></small
  >
  <p id="watermark">
    &copy; <br />
    Iancu Francisc
  </p>
  <p id="banner">Proiectul acesta este un poiect scolar!</p>
</footer>
