<script>
  function applyTheme(theme) {
    if (theme == "light") {
      document.body.className = "";
    } else {
      document.body.className = "darkTheme";
    }
  }

  function changeIcon(currTheme) {
    if (currTheme == "light") {
      localStorage.setItem("theme", "dark");
      document.body.className = "darkTheme";
    } else {
      localStorage.setItem("theme", "light");
      document.body.className = "";
    }
    resetButton();
  }

  function resetButton() {
    var btn = document.getElementById("changeThemeButton");
    if (btn) {
      btn.remove();
    }
    generateButton();
  }

  function getCurrTheme() {
    var theme = localStorage.getItem("theme");
    return theme ? theme : "light";
  }
  
  function generateButton() {
    var btn = document.createElement("button");
    var theme = getCurrTheme();
    btn.className = theme;
    btn.id = "changeThemeButton";
    btn.onclick = function () {
      changeIcon(getCurrTheme());
    };
    document.getElementById("companyName").append(btn);
    applyTheme(theme);
  }
</script>

<header class="header">
  <div class="companyName" id="companyName">
    <div class="wrapper">
      <label id="smallCarLogo">
        <img src="../../resources\images\favicon-32x32.png" alt="logo" />
      </label>
      <h1 style="display: inline">Cupacars</h1>
    </div>
  </div>
  <nav id="start" class="navBar">
    <ul>
      <li>
        <a href="/index" class="fontBigger home"><img id="home-img" src="home-solid.svg" alt="home-button" /> Acasa</a>
      </li>
      <li>
        <a href="/galerieStatica" class="fontBigger home">Galerie</a>
      </li>
      <li>
        <a href="#promotii" class="fontBigger">Promotii</a>
      </li>
      <li>
        <a href="#masini" id="dropdownMenu" class="fontBigger">Categorii</a>
        <ul class="dropDown">
          <li>
            <a class="dropdownItem fontBigger" href="/sport#sport">Sport</a>
          </li>
          <li>
            <a class="dropdownItem fontBigger" href="#jeep">Jeep</a>
          </li>
          <li>
            <a class="dropdownItem fontBigger" href="#camion">Camion</a>
          </li>
        </ul>
      </li>
      <li class="FAQ">
        <a href="#intrebari" class="fontBigger">FAQ</a>
      </li>
      <li>
        <a href="#infoContact" class="fontBigger">Contact</a>
      </li>
      <li>
        <a href="#marci" id="dropdownMenu" class="fontBigger">Produse</a>
        <ul class="dropDown">
          <li>
            <a href="/produse" class="dropdownItem fontBigger" href="#sport">Sleepers</a>
          </li>
          <li>
            <a href="/produse" class="dropdownItem fontBigger" href="#jeep">Vintage</a>
          </li>
          <li>
            <a href="/produse" class="dropdownItem fontBigger" href="#camion">European</a>
          </li>
          <li>
            <a href="/produse" class="dropdownItem fontBigger" href="#camion">Exotic</a>
          </li>
          <li>
            <a href="/produse" class="dropdownItem fontBigger" href="#camion">American muscle</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/paginasuplimentara" class="fontBigger home">Extra</a>
      </li>
    </ul>
  </nav>
  <div id="printPageBreak" class="printPageBreak">&nbsp;</div>
</header>
<script>
  generateButton();
</script>