<script>
  function changeIcon(currTheme) {
    if (currTheme == "light") {
      localStorage.setItem("theme", "dark");
      document.body.className = "darkTheme";
    } else {
      localStorage.setItem("theme", "light");
      document.body.className = "";
    }
    resetButton();
  }
  function resetButton() {
    var btn = document.getElementById("changeThemeButton");
    if (btn) {
      btn.remove();
    }
    generateButton();
  }
  function getCurrTheme() {
    var theme = localStorage.getItem("theme");
    return theme ? theme : "light";
  }
  function generateButton() {
    var btn = document.createElement("button");
    btn.className = getCurrTheme();
    btn.id = "changeThemeButton";
    btn.onclick = function () {
      changeIcon(getCurrTheme());
    };
    document.getElementById("printPageBreak").append(btn);
  }
</script>

<header class="header">
  <div class="companyName">
    <label id="smallcarlogo">
      <img src="../../resources\images\favicon-32x32.png" alt="logo" />
    </label>
    <h1 style="display: inline">Cupacars</h1>
  </div>
  <nav id="start" class="navBar">
    <ul>
      <li>
        <a href="/index" class="fontBigger home"
          ><img id="home-img" src="home-solid.svg" alt="home-button" /> Acasa</a
        >
      </li>
      <li>
        <a href="#promotii" class="fontBigger">Promotii</a>
      </li>
      <li>
        <a href="#masini" id="dropdownMenu" class="fontBigger">Categorii</a>
        <ul class="dropDown">
          <li>
            <a class="dropdownItem fontBigger" href="/sport#sport">Sport</a>
          </li>
          <li>
            <a class="dropdownItem fontBigger" href="#jeep">Jeep</a>
          </li>
          <li>
            <a class="dropdownItem fontBigger" href="#camion">Camion</a>
          </li>
        </ul>
      </li>
      <li class="FAQ">
        <a href="#intrebari" class="fontBigger">FAQ</a>
      </li>
      <li>
        <a href="#infoContact" class="fontBigger">Contact</a>
      </li>
      <li>
        <a href="#marci" id="dropdownMenu" class="fontBigger">Marci</a>
        <ul class="dropDown">
          <li>
            <a class="dropdownItem fontBigger" href="#sport">Ford</a>
          </li>
          <li>
            <a class="dropdownItem fontBigger" href="#jeep">Nissan</a>
          </li>
          <li>
            <a class="dropdownItem fontBigger" href="#camion">Honda</a>
          </li>
          <li>
            <a class="dropdownItem fontBigger" href="#camion">Dodge</a>
          </li>
          <li>
            <a class="dropdownItem fontBigger" href="#camion">Subaru</a>
          </li>
          <li>
            <a class="dropdownItem fontBigger" href="#camion">Mazda</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/paginasuplimentara" class="fontBigger home"
          >Pagina suplimentara</a
        >
      </li>
    </ul>
  </nav>
  <div id="printPageBreak" class="printPageBreak">&nbsp;</div>
</header>
<script>
  generateButton();
</script>
