:root {
  --blue: #14213d;
  --white: #ffffff;
  --yellow: #fca311;
  --black: #000000;
  --platinum: #e5e5e5;
  --red: #ff0000;
  --pink: #ff00ff;
  --cyan: #05f8ff;
  --gray: #5b5c59;
}
#watermark {
  display: none;
}

.darkTheme > .header {
  background-color: var(--black) !important;
}
.darkTheme > .main {
  background-color: var(--gray) !important;
}
.darkTheme {
  background-color: var(--gray) !important;
}
.darkTheme > .footer {
  background-color: var(--black) !important;
}
.iframeContainer {
  z-index: 100;
}
.closeIframeButton {
  background: #ff0000;
  border-radius: 1000px;
  padding: 2px 4px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 15px/1 "Open Sans", sans-serif;
  text-align: center;
  z-index: 9999;
  left: 450px;
  position: fixed;
  top: 150px;
}
.error_page {
  display: block;
  width: 100vw;
  height: 100vh;
  margin-left: 35%;
  margin-top: 10%;
}
.mesajEroare {
  margin-left: 5%;
}
@font-face {
  font-family: "ZenAntiqueSoft-Regular";
  src: url(/resources/misc/ZenAntiqueSoft-Regular.ttf);
}

.header {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  background-color: var(--blue);
  font-family: "ZenAntiqueSoft-Regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.main {
  font-family: "ZenAntiqueSoft-Regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  display: grid;
  grid-template-areas:
    "zone1 zone1 zone1 zone1"
    "zone8 zone8 zone8 zone8"
    "zone3 zone2 zone2 zone4"
    "zone5 zone6 zone7 zone7";
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-bottom: 10px;
}
.nume {
  text-overflow: ellipsis;
  width: 420px;
  padding-left: 16px;
  overflow: hidden;
  white-space: nowrap;
}
.nume > a > .val-nume {
  text-overflow: ellipsis;
}
.info-prod,
.categorie {
  padding-left: 24px;
}

.galerieContainer {
  margin-left: 96px;
  margin-right: 96px;
  display: grid;
  font-family: "ZenAntiqueSoft-Regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  counter-reset: galerie-counter;
  background-color: var(--yellow);
  grid-template-areas:
    "galerie0 galerie1 galerie2"
    "galerie3 galerieBlank4 galerie4"
    "galerie5 galerie6 galerie7"
    "galerie8 galerieBlank9 galerie9"
    "galerie10 galerie11 galerie12";
}

.galerieSelector img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.galerieSelector {
  transition: all 0.125s;
  transform-origin: top center;
}
.galerieSelector:hover {
  transform: scale(1.4);
  opacity: 0.5;
}
.galerieSelector:hover > picture > img {
  border-radius: 15px;
}
.grid-produse {
  column-count: 3;
  padding-left: 24px;
  padding-bottom: 24px;
}
.produs {
  border: 1px solid;
  max-width: 500px;
  min-height: 481px;
  margin: 0px 0px 16px 0px;
  break-inside: avoid;
}
.produs > figure {
  margin: 0;
  margin-left: 32px;
}
@media only screen and (max-width: 720px) {
  .galerieBlank4,
  .galerieBlank9 {
    display: none;
  }
  .main {
    grid-template-areas:
      "zone1 zone1"
      "zone8 zone8"
      "zone3 zone2"
      "zone4 zone5"
      "zone6 zone7";
    grid-template-columns: repeat(2, 1fr);
  }
  .galerieContainer {
    grid-template-areas:
      "galerie0 galerie1"
      "galerie2 galerie3"
      "galerie4 galerie5"
      "galerie6 galerie7"
      "galerie8 galerie9"
      "galerie10 galerie11"
      "galerie12 galerie12";
  }

  .grid-produse {
    column-count: 2;
  }
}
@media only screen and (max-width: 500px) {
  .grid-produse {
    column-count: 1;
  }
  .galerieBlank4,
  .galerieBlank9 {
    display: none;
  }
  .main {
    grid-template-areas:
      "zone1"
      "zone8"
      "zone3"
      "zone2"
      "zone4"
      "zone5"
      "zone6"
      "zone7";
    grid-template-columns: repeat(1, 1fr);
  }
  .galerieContainer {
    grid-template-areas:
      "galerie0"
      "galerie1"
      "galerie2"
      "galerie3"
      "galerie4"
      "galerie5"
      "galerie6"
      "galerie7"
      "galerie8"
      "galerie9"
      "galerie10"
      "galerie11"
      "galerie12";
  }
  .zone_2 {
    width: fit-content !important;
  }
}
.galerieCaption {
  counter-increment: galerie-counter;
}
.galerieCaption:before {
  content: counter(galerie-counter, lower-roman) ". ";
}
div.paginasuplimentaratext {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 80vh;
  padding: 20px 20px;
  font-weight: bold;
  text-align: center;
}
.tabelprogram {
  width: 100%;
}

zone_3 > table,
th,
td {
  font-weight: bold;
  border: 1px solid var(--white);
}
.linie::after {
  content: "\273A";
  color: var(--blue);
  float: right;
  position: relative;
  margin-top: -14px;
  margin-right: -20px;
}
.linie::before {
  content: "\273A";
  color: var(--blue);
  float: left;
  top: 0;
  position: relative;
  margin-top: -14px;
  margin-left: -20px;
}
h3.linie {
  margin-left: 50px;
  margin-right: 50px;
  height: 2px;
  background-color: var(--blue);
}
.bordertopC2 > td:hover {
  outline: rgba(255, 0, 0, 0.7) solid 5px;
  transition: 0.5s all;
}
.bordertopC1 > td:hover {
  outline: rgba(255, 0, 0, 0.7) solid 5px;
  transition: 0.5s all;
}
.bordertopC2 > th:hover {
  outline: rgba(255, 0, 0, 0.7) solid 5px;
  transition: 0.5s all;
}
caption:hover {
  outline: rgba(255, 0, 0, 0.7) solid 5px;
  transition: 0.5s all;
}
.topth:hover {
  outline: rgba(255, 0, 0, 0.7) solid 5px;
  transition: 0.5s all;
}
/* borderele care au deasupra un rând cu număr par și dedesubt un rând cu număr impar 
vor fi de culoarea c1, iar borderele care au deasupra un rând cu număr impar 
și dedesubt unul cu număr par vor avea culoarea c2 */

.bordertopC2 > td {
  padding: 5px;
  border-top: 1px solid var(--pink) !important; /* c2 top*/
  border-bottom: 1px solid var(--cyan) !important; /* c1 bot*/
}
.bordertopC2 > th {
  padding: 5px;
  border-top: 1px solid var(--pink) !important; /* c2 top*/
  border-bottom: 1px solid var(--cyan) !important; /* c1 bot*/
}

.bordertopC1 > td {
  padding: 5px;
  border-bottom: 1px solid var(--pink) !important; /* c2 top*/
  border-top: 1px solid var(--cyan) !important; /* c1 bot*/
}
caption {
  padding: 10px;
  caption-side: bottom;
  font-weight: bold;
}
.galerieSelector {
  margin: 10px;
}
.galerie0 {
  grid-area: galerie0;
}
.galerie1 {
  grid-area: galerie1;
}
.galerie2 {
  grid-area: galerie2;
}
.galerie3 {
  grid-area: galerie3;
}
.galerieBlank4 {
  grid-area: galerieBlank4;
}
.galerieBlank9 {
  grid-area: galerieBlank9;
}
.galerie4 {
  grid-area: galerie4;
}
.galerie5 {
  grid-area: galerie5;
}
.galerie6 {
  grid-area: galerie6;
}
.galerie7 {
  grid-area: galerie7;
}
.galerie8 {
  grid-area: galerie8;
}
.galerie9 {
  grid-area: galerie9;
}
.galerie10 {
  grid-area: galerie10;
}
.galerie11 {
  grid-area: galerie11;
}
.galerie12 {
  grid-area: galerie12;
}

.zone_1 {
  grid-area: zone1;
  text-align: center;
  color: var(--white);
}
.zone_2 {
  grid-area: zone2;
  border: 5px inset var(--white);
  width: calc(100% - 6px);
  text-align: center;
  height: fit-content;
  background-color: var(--platinum);
  overflow-x: scroll;
  overflow: visible;
}
.zone_3 {
  grid-area: zone3;
  border: 3px solid var(--white);
  width: calc(100% - 6px);
  text-align: center;
}
.zone_4 {
  grid-area: zone4;
  border: 3px solid var(--white);
  text-align: center;
  width: calc(100% - 6px);
  height: fit-content;
}
.zone_5 {
  grid-area: zone5;
  border: 3px solid var(--white);
  text-align: center;
  width: calc(100% - 6px);
  height: fit-content;
}
.zone_6 {
  grid-area: zone6;
  border: 3px solid var(--white);
  text-align: center;
  width: calc(100% - 6px);
  height: fit-content;
}
.zone_7 {
  grid-area: zone7;
  border: 3px solid var(--white);
  text-align: center;
  width: calc(100% - 6px);
  height: fit-content;
}

.zone_8 {
  grid-area: zone8;
}

.footer {
  background-color: var(--blue);
  font-family: "ZenAntiqueSoft-Regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
body {
  background-color: var(--yellow);
  margin: 0;
  font-family: "ZenAntiqueSoft-Regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

#smallCarLogo {
  margin-right: 8px;
}

.hidden {
  display: none;
}
.companyName {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  margin-top: 8px;
}
.navBar {
  margin-top: 20px;
  float: left;
  margin-left: 40px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
nav li {
  position: relative;
  width: 90px;
  height: 30px;
}

nav a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

ul.dropDown {
  position: absolute;
  background-color: var(--blue);
  list-style: none;
  width: 125px;
  padding-left: 0px;
  margin-left: -25px;
  padding-top: 10px;
  display: none;
}

ul.dropDown li {
  padding-left: 25px;
}

.navBar li:hover .dropDown {
  display: block;
}

@media screen and (min-width: 480px) {
  #home-img {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .home {
    display: none;
  }
}
#home-img {
  width: 30px;
  height: 30px;
}

.fontBigger:hover {
  font-size: 18px;
  transition: 0.8s ease-in;
}
.FAQ {
  width: 40px !important;
}

.dropdownItem:before {
  height: 0px;
  background-image: linear-gradient(to left, #14213d, #fca311);
  display: block;
  position: absolute;
  left: 0px;
  top: 1px;
  height: 0px;
  width: 20px;
  content: " ";
  transform-origin: top;
  transition: all 0.85s;
}

.dropdownItem:after {
  height: 0px;
  background-image: linear-gradient(to right, #14213d, #fca311);
  display: block;
  position: absolute;
  right: -10px;
  top: 1px;
  height: 0px;
  width: 20px;
  content: " ";
  transform-origin: top;
  transition: all 0.85s;
}

.dropdownItem:hover:after,
.dropdownItem:hover:before {
  height: 20px;
  transform: scaleY(1);
}
.dropdownItem {
  z-index: 9999;
}

section#acasa img {
  box-shadow: 0 0 20px #14213d;
}
section#promotii h3 {
  color: var(--white);
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 3px 3px var(--black);
}
section#promotii article {
  display: inline-grid;
  background-color: var(--blue);
  margin: 5px;
  height: 600px;
  padding: 5px;
  color: var(--white);
  box-shadow: 0 0 20px var(--blue);
}
.triangleUp {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid var(--gray);
  margin: 10px 20px;
}

.filterContainer {
  padding: 24px 24px 0px;
}

.categoryLabel {
  border: 1px solid;
  padding: 4px;
  margin-right: 8px;
}

section#masini h3 {
  color: var(--white);
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 3px 3px var(--black);
}

section#masini h4 {
  color: var(--white);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 3px 3px var(--black);
}
article img {
  width: 450px;
  height: 300px;
}
.targetBlank {
  margin-top: 5px;
  margin-right: 5px;
  display: inline-flex;
  border: 3px solid var(--yellow);
  box-shadow: 0 0 20px var(--yellow);
  border-radius: 5%;
  width: max-content;
  text-decoration: none;
  color: var(--black);
  background-color: var(--yellow);
}
.targetBlank:hover {
  color: var(--white);
  transition: 1s all;
}

section#masini article {
  display: inline-grid;
  background-color: var(--blue);
  margin: 5px;
  height: 600px;
  padding: 5px;
  color: var(--white);
  box-shadow: 0 0 20px var(--blue);
}

#infoContact {
  color: var(--platinum);
}
#infoContact a {
  color: var(--platinum);
  text-decoration: none;
}

#intrebari {
  color: var(--platinum);
  margin-left: 5px;
}

.smallFooter {
  display: flex;
  color: var(--platinum);
  justify-content: center;
}
.borderBracket {
  display: flex;
  justify-content: center;
  border-left: 3px solid var(--gray);
  border-right: 3px solid var(--gray);
  float: right;
  margin: 10px 10px;
  width: auto;
  border-radius: 60%;
  opacity: 30%;
  position: fixed;
  right: 30px;
  bottom: 20px;
}

.borderBracket:hover {
  border-left: 3px solid var(--black);
  border-right: 3px solid var(--black);
  transition: all 3s;
  opacity: 100%;
}

.borderBracket:hover div.triangleUp {
  position: relative;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid var(--black);
  transition: all 3s;
  transform: translateY(-10px);
}

.iframe1 {
  width: 450px;
  height: 300px;
  margin-left: 20px;
  border: 3px solid var(--blue);
  box-shadow: 0 0 20px var(--blue);
  position: fixed;
  top: 120px;
}

.iframeAnchor {
  margin-top: 5px;
  margin-right: 5px;
  display: flexbox;
  border: 3px solid var(--yellow);
  box-shadow: 0 0 20px var(--yellow);
  border-radius: 5%;
  width: max-content;
  text-decoration: none;
  color: var(--black);
  background-color: var(--yellow);
  transition: 2s all;
}

.iframeAnchor:hover {
  background-color: var(--platinum);
  border: 3px solid var(--platinum);
  transition: 1s all;
}
