<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta name="keywords" content="auto,vehicul,autovehicul,masina,Cupacars" />
    <meta
      name="description"
      content="Cupacars ofera cele mai bune preturi pentru masina pe care o doresti!"
    />
    <title>404 Error</title>
    <%- include("../fragmente/head.ejs") %>
    <!-- aici erau meta si alea -->
  </head>

  <!-- aici era headerul -->
  <%- include("../fragmente/header.ejs")%>
  <main class="main">
    <div class="error_page">
      <img
        src="../../resources\images\404errorcarcrash.png"
        alt="masinaLovita"
      />
      <h2 class="mesajEroare">Error 403. Denied.</h2>
    </div>
  </main>
  <!-- aici era footer -->
  <%- include("../fragmente/footer.ejs")%>
</html>
