<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta name="keywords" content="auto,vehicul,autovehicul,masina,Cupacars" />
    <meta
      name="description"
      content="Cupacars ofera cele mai bune preturi pentru masina pe care o doresti!"
    />
    <title>Cupacars</title>
    <%- include("../fragmente/head.ejs") %>
    <!-- aici erau meta si alea -->
  </head>

  <!-- aici era headerul -->
  <%- include("../fragmente/header.ejs")%>
  <div class="paginasuplimentaratext">
    <div class="zonastanga">
      Istoric site:
      <div>
        Site-ul a fost "publicat" in anul 2010 cu scopul de expandare a firmei
        noastrea
      </div>
    </div>
    <div class="zonamijloc">
      In momentuld e fata firma este compusa din 100 de angajati cu
      reprezentante in 5 orase din tara.
      <ul>
        <ul>
          Bucuresti
        </ul>
        <ul>
          Cluj-Napoca
        </ul>
        <ul>
          Sibiu
        </ul>
        <ul>
          Brasov
        </ul>
        <ul>
          Timisoara
        </ul>
      </ul>
    </div>
    <div class="zonadreapta">
      Scopul nostru cat si al site-ului este de a oferi un spatiu sigur si de
      incredere unde oameni pot vinde si cumpara masini.
    </div>
  </div>
  <!-- aici era footer -->
  <%- include("../fragmente/footer.ejs")%>
</html>
